*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	flex-wrap: wrap;
}
body{
	background: url('../img/background.jpg');
	width:100%;
	height: 100vh;
	background-size: cover;
	background-attachment: fixed;
	
	
}
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Dosis', sans-serif;
	
	
}
.header img {
	width: 20%;
	height: auto;
	text-align: center;
	float: left;
	
}
.header a {
	text-transform: uppercase;
	text-decoration:none;
	padding: 20px 40px;	
	color: grey;
	opacity: .90;

	
}
.header a:hover{
	color: orange;
}
.h1{
	color: aliceblue;
	text-align: center;
	margin-top: 200px;
	color: grey;
	font-family: 'Dosis', sans-serif;
}
p {
	text-transform: uppercase;
		letter-spacing: 10px;

}
h1:first-letter {
	font-size: 100px;
	opacity: 0.60;
	
}
h1 {
	text-transform: capitalize ;
	color: grey;
	letter-spacing: 5px
}

.h1 button {
	padding: 8px 37px;
	height: auto;
	color: #fff;
	background-color: transparent;
	margin-right: 20px;
}
.h1 button a {
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	letter-spacing: 1px;
	
	
}
.h1 button:hover{
	background-color: orange;
	border: 1px solid #fff;
}
#iconbar {
	color: aliceblue;
	font-size: 2rem;
	position: absolute;
	top:20px;
	right: 20px;
	visibility: hidden;
	 
}
